/* BODY */

body {
    background: white;
    color: black;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.titel {
    text-align: center;

}

/* PICTURES */

.home {
    background: rgb(231, 62, 62);
    background-image: url("Bilder/bord_med_hus.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 300px;
}

.one_picture {
    background: rgb(231, 62, 62);
    background-image: url("Bilder/julstrumpor.jpg");
    background-size: 100%;
    background-position: 0px -15px;
    padding: 20px;
    height: 300px;
}

.two_picture {
    background: rgb(231, 62, 62);
    background-image: url("Bilder/julgransbelysning.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 300px;
}

.four_picture {
    background: rgb(231, 62, 62);
    background-image: url("Bilder/julrenar.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 300px;
}

.five_picture {
    background: rgb(231, 62, 62);
    background-image: url("Bilder/popcorn.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 300px;
}

.six_picture {
    background: rgb(231, 62, 62);
    background-image: url("Bilder/varmchoklad.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 300px;
}

/* Navigations remsan */

.drop_button {
    background-color: #ff2c2c80;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    background-color: #40db3888;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown_content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown_content {
    display: block;
}
  
.dropdown:hover .drop_button {
    background-color: #da2727b1;
}

/* Bakgrunds bilder  */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* OLIKA TEXTER */

h1 { /* GOD JUL Mamma */
    color: rgb(223, 13, 13);
    padding-top: 60px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: black;
    font-size: 40px;
}

h3 { /* Själva frågan */
    color: black;
    font-size: 35px;
}

h4 { /* Ordgåtorna */
    color: black;
    padding-top: 10px;
    font-size: 30px;
}

p { /* Ledtrådens text  */
    color: white;
    font-size: 30px;
    padding: 10px 30px;
    margin: 0px 50px 50px 50px;
    border-radius: 10px;
    display: inline-block;
}

/* FEATURES */

.features h6{
    background: white;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
    font-size: 20px;
}

/* QUESTIONS */

.questions_one{
    background-color: rgb(116, 116, 224);
    padding: 10px 30px;
    margin: 50px;
    border-radius: 10px;
}

.one{
    background-color: rgb(5, 24, 53);
    padding: 20px;
    margin: 50px;
}

.questions_two{
    background-color: rgb(97, 199, 43);
    padding: 10px 30px;
    margin: 50px;
    border-radius: 10px;
}

.two{
    background-color: rgb(37, 75, 16);
    padding: 20px;
    margin: 50px;
}

.questions_four{
    background-color: rgb(224, 116, 197);
    padding: 10px 30px;
    margin: 50px;
    border-radius: 10px;
}

.four{
    background-color: rgb(100, 53, 88);
    padding: 20px;
    margin: 50px;
}

.questions_five{
    background-color: rgb(255, 207, 48);
    padding: 10px 30px;
    margin: 50px;
    border-radius: 10px;
}

.five{
    background-color: rgb(119, 96, 20);
    padding: 20px;
    margin: 50px;
}

.questions_six{
    background-color: rgb(53, 241, 131);
    padding: 10px 30px;
    margin: 50px;
    border-radius: 10px;
}

.six{
    background-color: rgb(24, 103, 57);
    padding: 20px;
    margin: 50px;
}

/* BUTTON */

button:active{
    box-shadow: none;
    transform: translateY(5px);
}

.Home_to_one{
    color: #fff;
    padding: 20px 32px;
    border-radius: 6px;
    background: #e82a3a;
    transition: all 0.2s ease;
    display: block;
    margin: auto;
    font-size: 40px;
    position: relative;
    bottom: 35px;
    box-shadow: 0 5px 0 #b8212d;
}

.clue{
    color: white;
    padding: 20px 32px;
    border-radius: 6px;
    background-color: rgb(33, 130, 31);
    transition: all 0.2s ease;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    font-size: 40px;
    box-shadow: 0 5px 0 rgb(14, 59, 21);
}

/* FOOTER */

footer {
    background: black;
    color: grey;
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;

}